.square {
    height: 100%;
    width: 100%;
    h2 {
        margin: 0 .5rem;
    }
}

.notation {
    // color: $teal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: .25;
}

.chess-piece {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 8.75vmin;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-clip: border-box;
    z-index: 1;
}

.hovered-piece {
    * {
        color: $teal;
        font-size: 9.5vmin;
        filter: drop-shadow( .35rem .35rem .25rem rgba(50, 50, 50, 1));
    }
}

.selected-piece {
    * {
        color: $dark-teal;
        filter: drop-shadow( .25rem .25rem .25rem rgba(50, 50, 50, 1));
        &:hover {
            font-size: 9.5vmin;
        }
    }

}

.ghost {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 6vmin;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-clip: border-box;
    color: $blue;
    z-index: 2;
    opacity: .6;

    &:hover {
        font-size: 7vmin;
        opacity: 1;
        filter: drop-shadow( .25rem .25rem .25rem rgba(50, 50, 50, 1));
    }
}

.promote {
    color: rgb(253, 255, 152);
    z-index: 2;
    opacity: .75;

    &:hover {
        font-size: 9.5vmin;
        filter: drop-shadow( .25rem .25rem .25rem rgba(50, 50, 50, 1));
    }
}

.capture {
    color: $warning;
    z-index: 2;
    opacity: .75;
    filter: drop-shadow( .25rem .25rem .25rem rgba(50, 50, 50, 1));
}

.castle {
    color: rgb(255, 253, 128);
    z-index: 2;
    filter: drop-shadow( .25rem .25rem .25rem rgba(50, 50, 50, 1));
}


text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.promotion-selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 75vmin;
    height: 29vmin;
    background-color: rgb(127, 127, 127);
    border: .3rem solid black;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-justify: center;
    z-index: 6;
    position: absolute;
    top: 36.5vmin;
    right: 12vmin;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // font-size: 6rem;
    // font-weight: 900;

    // &:hover {
    //     font-size: 7vmin;
    // }

    p {
        grid-row: 1;
        grid-column: 1 / span 4;
        font-size: 4.25rem;
        font-weight: 900;

        &:hover {
            font-size: 4.25rem;
        }
    }

    .promotion-piece {
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
        font-size: 6rem;

        .choice {
            &:hover {
                font-size: 7rem;
                color: $teal;
                cursor: pointer;
                filter: drop-shadow( .25rem .25rem .25rem rgba(50, 50, 50, 1));
            }

        }

    }
}

.getting-promoted {
    * {
        color: rgb(255, 240, 154);
        font-size: 10.5vmin;
        text-align: center;
        filter: drop-shadow( .25rem .25rem .25rem rgba(50, 50, 50, 1));
    }
}

.placeholder {
    color: black;
    z-index: 100;
}
