.square {
    height: 100%;
    width: 100%;
    h2 {
        margin: 0 .5rem;
    }
}

.notation {
    // color: $teal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: .25;
}

.chess-piece {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 7vmin;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-clip: border-box;
    z-index: 1;
}

.hovered-piece {
    * {
        color: $teal;
        font-size: 7.75vmin;
    }
}

.selected-piece {
    * {
        color: $dark-teal;

        &:hover {
            font-size: 7.75vmin
        }
    }

}

.ghost {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 6vmin;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-clip: border-box;
    color: $blue;
    z-index: 2;
    opacity: .6;

    &:hover {
        font-size: 7vmin;
        opacity: 1;
    }
}

.capture {
    color: $warning;
}

.castle {
    color: $charcoal;
}

text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
